$white: #ffffff;
$black: #000000;
$green: #52503b;
$orange: #e08631;
$whitesmoke: #FAF8F0;


@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin md{
  @media(max-width:765px){
    @content;
  }
}

@mixin sm{
  @media(max-width:450px){
    @content;
  } 
}

